docs/playlist.json
backend/venv/
backend/__pycache__/
backend/*.db
backend/app/models/__pycache__/
backend/app/models/*.pyc
backend/app/__pycache__/
backend/app/routes/__pycache__/
backend/app/routes/*.pyc
backend/app/utils/__pycache__/
backend/app/utils/*.pyc
backend/app/tests/__pycache__/
backend/app/tests/*.pyc
backend/instance/
backend/tests/__pycache__/
backend/tests/*.pyc